.navigation 
	.navigation__wrapper 
		svg.navigation__overlay(preserveAspectRatio="none" fill="#111" viewBox="0 0 100 90" xmlns="http://www.w3.org/2000/svg")
			path.navigation__overlay__path(data-d-curve="M100 -5C-115.483 13 84.3605 26.5 84.3605 44C84.3605 61.5 -18.1677 79 100 95" data-d="M100 -5.00004C-116.5 -10 -41.5 36.5 -41.5 52C-41.5 67.5 -16.5 121 100 95" )
		.navigation__icon
			svg.navigation__icon__svg(width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
				path.navigation__icon__path(data-d="M0 10C0 4.47715 4.47715 0 10 0H38C43.5228 0 48 4.47715 48 10V38C48 43.5228 43.5228 48 38 48H10C4.47715 48 0 43.5228 0 38V10Z M0 62C0 56.4772 4.47715 52 10 52H38C43.5228 52 48 56.4772 48 62V90C48 95.5228 43.5228 100 38 100H10C4.47715 100 0 95.5228 0 90V62Z M52 10C52 4.47715 56.4772 0 62 0H90C95.5228 0 100 4.47715 100 10V38C100 43.5228 95.5228 48 90 48H62C56.4772 48 52 43.5228 52 38V10Z M52 62C52 56.4772 56.4772 52 62 52H90C95.5228 52 100 56.4772 100 62V90C100 95.5228 95.5228 100 90 100H62C56.4772 100 52 95.5228 52 90V62Z" 
													data-d-hover="M0 10C0 4.47715 4.47715 0 10 0H30C35.5228 0 40 4.47715 40 10V30C40 35.5228 35.5228 40 30 40H10C4.47715 40 0 35.5228 0 30V10Z M0 70C0 64.4772 4.47715 60 10 60H30C35.5228 60 40 64.4772 40 70V90C40 95.5228 35.5228 100 30 100H10C4.47715 100 0 95.5228 0 90V70Z M60 10C60 4.47715 64.4772 0 70 0H90C95.5228 0 100 4.47715 100 10V30C100 35.5228 95.5228 40 90 40H70C64.4772 40 60 35.5228 60 30V10Z M60 70C60 64.4772 64.4772 60 70 60H90C95.5228 60 100 64.4772 100 70V90C100 95.5228 95.5228 100 90 100H70C64.4772 100 60 95.5228 60 90V70Z"
													data-d-click="M0 10C0 4.47715 4.47715 0 10 0L25 15L55 45L45 55L14.9998 25L0 10Z M15 75.0002L50 40L60 50.0001L25 85L10 100C4.47715 100 0 95.5229 0 90L15 75.0002Z M75 15L90 0C95.5228 0 100 4.47715 100 10L85 25L50 60L40 50L75 15Z M45 55L55 45L84.9997 75.0002L100 90C100 95.5229 95.5228 100 90 100L75 85L45 55Z" fill="white")
		.navigation__list__wrapper
			ul.navigation__list
				li.navigation__list__item
					a.navigation__home(href='/')='Home'
				li.navigation__list__item
					a.navigation__snippets(href='/snippets')='Snippets'
				li.navigation__list__item
					a.navigation__about(href='/about')='About'
