block variables

doctype html
html(class=isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    base(href="/")

    title=meta.data.title
    meta(name="description" content=meta.data.description)

    script.
      document.documentElement.style.setProperty('--vh', `${window.innerHeight * 0.01}px`);

    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
    //- link(rel="shortcut icon" href="#")
  body 
    include ./partials/preloader.pug
    include ./pages/home.pug
    include ./pages/about.pug
    include ./pages/snippets.pug
    each pod in pods
      include ./pages/detail.pug
    include ./partials/navigation.pug
    include ./partials/footer.pug
    include ./partials/icon.pug
    include ./partials/overlay.pug
    #canvas

    script.
      window.TEXTURE_ASSETS = !{JSON.stringify(textures).replace(/<\//g, "<\\/")}

    script.
      window.SOUND_ASSETS = !{JSON.stringify(sounds).replace(/<\//g, "<\\/")}

    script(type="module" src="/app/app.js")