.about
  .about__wrapper
    .about__section 
      .about__section__title="Credits:"
      .about__section__text="Title and descriptions provided by Astronomy Picture of the Day"
    
    .about__section 
      .about__section__title="Contact:"
      .about__section__text="sergio@azizi.dev or @checo172"

    a.about__link(href="/")
      span="return"