.detail(id=pod.uid data-index=pod.data.index)
  .detail__navigation__wrapper
    .detail__close
      a.detail__close__link(href="/explore")
        p.detail__close__text='< back'
  .detail__wrapper 
    .detail__title
      .detail__title__box
        bento-fit-text.detail__title__text=pod.data.title
    .detail__explanation
      each item in pod.data.images 
        .detail__explanation__slice
          figure.detail__explanation__media 
            img.detail__explanation__media__image(data-src=item.media.name, alt=item.media.name)
          .detail__explanation__panel
            .detail__explanation__text__box
              bento-fit-text.detail__explanation__text=item.explanation1
